---
layout: layout.liquid
title: 11ty Boilerplate
---
<h1>Everyday Carry</h1>
<h2>Item Index</h2>
<ul>
    <li><a href="/item1/" title="Item 1">Dr. Pepper</a></li>
    <li><a href="/item2/" title="Item 2">PSP</a></li>
    <li><a href="/item3/" title="Item 3">Nerd</a></li>
</ul>